.notification {
  background-color: lightgrey;
  width: 90%;
  margin: 0 auto;
  color: green;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

.error {
  border: 2px solid orangered;
  color: darkred;
}

.success {
  border: 2px solid lightgreen;
  color: green;
}